.hidden {
    display: none;
}

/* General rules - scales images, videos to size of container */

li, a {
    list-style: none;
    text-decoration: none;
}

a:link, a:visited { 
	text-decoration: none!important;
    color: #191919;
}

a:hover, a:active { 
	text-decoration: none!important;
}

img,
embed,
object,
video {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* General rules for elements end */