<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/main.css">

    <title>NGO Team Bio - Senghyeon Yeom</title>
</head>
<body>
    <header>
        <h1>NGO Team Bio</h1>
    </header>

    <main class="theBio">
        <section class="hero">
            <img src="../images/hyeon.jpg" alt="Hyeon">

            <div class="introduction">
                <h2 class="name">Senghyeon Yeom</h2>
                <h3 class="position">Front-End, Website UX/UI Designer</h3>
            </div>
        </section>

        <section class="Description">
            <p>
                Hi, Everyone! <br>
                    I'm Seunghyeon working on the Final Integrated Project with Irene and Siddhant. In this project, I'm assigned to design the website with Siddhant and to create the html and css with scss since I'm designing the website. I'm mostly discussing about the concept and idea of our website with Sid as well as creating a styleguide to show what concepts we have got, what colour schemes we have used, and also, how we are promoting the NGO, Wikimedia Foundation. In addition, with the other teammates, I'm researching a few information to set up the content, we can encourage people know this NGO, and to join the contest we are creating. <br>
                    Thank you! 
            </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="irene.html">Irene</a>
        </section>
        <section class="next">
            <a href="sid.html">Siddhant</a>
        </section>
    </section>
    
    <script src="js/main.js" ></script>
</body>
</html>