<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/main.css">

    <title>NGO Team Bio - Seunghyeon Yeom</title>
</head>

<body>
    <header>
        <div class="close">
            <a href="index.html">
                <p>&#x2716;</p>
            </a>
        </div>
        
        <h1>[ NGO TEAM BIO ]</h1>
    </header>

    <main class="theBio">
        <section class="hero">
            <img src="../public/images/hyeon.jpg" alt="Hyeon">

            <div class="introduction">
                <h2 class="name">[ Senghyeon Yeom ]</h2>
                <hr class="hr-line">
                <h3 class="position">Front-End & Website UX/UI Designer</h3>
            </div>
        </section>

        <section class="Description">
            <h2 class="hidden">Bio - Seunghyeon</h2>
            <p>
                Hi, Everyone!
                I'm Seunghyeon, a UX/UI designer from Korea. To introduce myself briefly, I'm the one who loves designing per se. I like to learn how to see the materials and the world differently through designing. Normally, I would prefer designing to developing, but I totally enjoy stylizing HTML with CSS or SCSS, sometimes Javascript as well. I do love designing the sites by coding with HTML and CSS as it makes me feel refreshed and new from dealing with design programs such as photoshop or illustrator. In addition, I like to spend time taking photos and doing photoshop them. It is always fun for me to take photos with different angles even though I have already taken similar photos.  Also, it is enjoyable to make different styles of pictures and compare the original to the edited one. I think these are the most attractive parts of photography.Thank you! It is always good to introduce myself. 
            </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="irene.html"><i class="arrow left"></i>IRENE</a>
        </section>
        <section class="next">
            <a href="sid.html">SIDDHANT<i class="arrow right"></i></a>
        </section>
    </section>

    <a href="#" class="backToTop"><i class="arrow up"></i></a>
    
    <script src="../js/main.js" type="module" defer></script>
</body>

</html>