<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>our awesome team</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    
</head>
<body>
    <main class="app">
        <header>
            <h1 class="hidden">Team</h1>
            <h2>look at us we're awesome</h2>
            <ul>
                <li><a href="dim">Team Person 1</a></li>
                <li><a href="bigbagofpotatoes">Team Person 2</a></li>
                <li><a href="krazykale">Team Person 3</a></li>
            </ul>
        </header>
    </main>
    
</body>
</html>