<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NGO Team Bio - Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <main class="app">
        <header>
            <h1 class="title">NGO Team Bio</h1>
        </header>
        <div class="members">
            <h2>Our Awesome Team</h2>

            <section class="Irene">
                <img src="../public/images/irene.jpg" alt="Irene" width="250" height="250">
                <a href="irene.html">Irene Vinu</a>
                <p>Project Manager. Marketing and Advertising</p>
            </section>
            
            <section class="hyeon">
                <img src="../public/images/hyeon.jpg" alt="Hyeon" width="250" height="250">
                <a href="hyeon.html">Senghyeon Yeom</a>
                <p>Front-End, Website UX/UI Designer</p>
            </section>
            
            <section class="sid">
                <img src="../public/images/sid.jpg" alt="Sid" width="250" height="250">
                <a href="sid.html">Siddhant Dimri</a>
                <p>Front-End and Back-End Developer</p>
            </section>
        </div>
    </main>
    
</body>
</html>