<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Team Bio - Senghyeon Yeom</title>
</head>
<body>
    <header>
        <h1>NGO Team Bio</h1>
    </header>

    <main class="theBio">
        <section class="hero">
            <img src="hyeon.jpg" alt="Hyeon" width="300" height="300">
            <h2 class="name">Senghyeon Yeom</h2>
            <h4 class="position">Front-End, Website UX/UI Designer</h4>
        </section>
        <section class="Description">
            <p>
                <!-- enter your bio here. If needed, you can separate your bio paragraphs by using more <p></p> tags -->
            </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="sid.html">Siddhant</a>
        </section>
        <section class="next">
            <a href="hyeon.html">Senghyeon</a>
        </section>
    </section>
    
</body>
</html>