<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/main.css">
    
    <title>NGO Team Bio - Irene Vinu</title>
</head>
<body>
    <header>
        <div class="close">
            <a href="index.html">
                <p>&#x2716;</p>
            </a>
        </div>

        <h1>[ NGO TEAM BIO ]</h1>
    </header>

    <main class="theBio">

        <section class="hero">
            <img src="../public/images/irene.jpg" alt="irene" width="300" height="300">
            
            <div class="introduction">
                <h2 class="name">Irene Vinu</h2>
                <hr class="hr-line">
                <h3 class="position">Project Manager + Marketing and Advertising</h3>
            </div>
        </section>

        <section class="Description">
            <p>
                My name is Irene Vinu, a youngling aspiring to walk her own path of success like those before me. I am an Interactive Media Designer, in my final semester of the program. My role for the Final project of this semester is marketing and social media advertisment. In addition to that, my teammates for this project (Senghyeon and Siddhant) have entrusted me with the role of their Project Manager. The NGO we are working on is the "Wikimedia Foundation", who provide information free of charge while also allowing the public to be a part of it.
            </p>
            
            <p>Visit my Portfolio: <a href="https://www.irenemaryvinu.com/">irenemaryvinu.com</a> </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="sid.html"><i class="arrow left"></i>SIDDHANT</a>
        </section>
        <section class="next">
            <a href="hyeon.html">SEUNGHYEON<i class="arrow right"></i></a>
        </section>
    </section>
    
    <a href="#" class="backToTop"><i class="arrow up"></i></a>

    <script src="../js/main.js" type="module" defer></script>

</body>
</html>