<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Team Bio - Irene Vinu</title>
</head>
<body>
    <header>
        <a href="index.html">
            <h1>NGO Team Bio</h1>
        </a>
    </header>

    <main class="theBio">

        <section class="hero">
            <img src="../public/images/irene.jpg" alt="irene" width="300" height="300">
            <div class="introduction">
                <h2 class="name">Irene Vinu</h2>
                <hr class="hr-line">
                <h3 class="position">Project Manager + Marketing and Advertising</h3>
            </div>
        </section>

        <section class="Description">
            <p>
                My name is Irene Vinu, a young adult aspiring to walk my own path of success like those before me. I am an interactive Media Designer in my final semester of the program. My role for the Final project of this semester is marketing and social media advertisment. In addition to that, my teammates for this project (Senghyeon and Siddhant) have entrusted me with the role of their Project Manager. The NGO we are wworking on is the Wikimedia Foundation who provide information free of charge while also allowing the public to be a part of it.
            </p>
            
            <p>Visit my Portfolio: <a href="https://www.irenemaryvinu.com/">irenemaryvinu.com</a> </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="sid.html">Siddhant</a>
        </section>
        <section class="next">
            <a href="hyeon.html">Senghyeon</a>
        </section>
    </section>
    
</body>
</html>