<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/main.css">

    <title>NGO Team Bio - Siddhant Dimri</title>
</head>

<body>
    <header>
        <div class="close">
            <a href="index.html">
                <p>&#x2716;</p>
            </a>
        </div>
        
        <h1>[ NGO TEAM BIO ]</h1>
    </header>

    <main class="theBio">
        <section class="hero">
            <img src="../public/images/sid.jpg" alt="Hyeon">

            <div class="introduction">
                <h2 class="name">[ Siddhant Dimri ]</h2>
                <hr class="hr-line">
                <h3 class="position">Front-End & Website UX/UI Designer</h3>
            </div>
        </section>

        <section class="Description">
            <h2 class="hidden">Bio - Siddhaant</h2>
            <p>
                Hullo, my name is Siddhant, I go by Sid and i love to Design! I usually work with holographic images and bright colours and I try to bring my design influences in my work.
            </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="hyeon.html"><i class="arrow left"></i>HYEON</a>
        </section>
        <section class="next">
            <a href="irene.html">IRENE<i class="arrow right"></i></a>
        </section>
    </section>

    <a href="#" class="backToTop"><i class="arrow up"></i></a>
    
    <script src="../js/main.js" type="module" defer></script>
</body>

</html>









<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Team Bio - Siddhant Dimri</title>
</head>
<body>
    <header>
        <h1>NGO Team Bio</h1>
    </header>

    <main class="theBio">
        <section class="hero">
            <img src="images/sid.jpg" alt="sid" width="300" height="300">
            <h2 class="name">Siddhant Dimri</h2>
            <h4 class="position">Front-End, Website UX/UI Designer</h4>
        </section>
        <section class="Description">
            <p>
                enter your bio here. If needed, you can separate your bio paragraphs by using more <p></p> tags 
            </p>
        </section>
    </main>

    <section class="Nav">
        <section class="prev">
            <a href="hyeon.html">Senghyeon</a>
        </section>
        <section class="next">
            <a href="irene.html">Irene</a>
        </section>
    </section>
    
</body>
</html> -->