<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>

    <title>Bio Page - Seunghyeon Yeom</title>
</head>
<body>

    <main>
        <h1 class="hidden">Seunghyeon Yeom Team Bio Page</h1>
        <section id="yshBioTeam">
            <h2 class="hidden">Seunghyeon Yeom Team Bio Page</h2>
            <div>
                <h3 class="yshBioTeam">Seunghyeon Yeom</h3>
                <p class="teamBioScirpt">
                    Hi, everyone! <br>
                    I'm Seunghyeon working on the Final Integrated Project with Irene and Siddhant. In this project, I'm assigned to design the website with Siddhant and to create the html and css with scss since I'm designing the website. I'm mostly discussing about the concept and idea of our website with Sid as well as creating a styleguide to show what concepts we have got, what colour schemes we have used, and also, how we are promoting the NGO, Wikimedia Foundation. In addition, with the other teammates, I'm researching a few information to set up the content, we can encourage people know this NGO, and to join the contest we are creating. <br>
                    Thank you! 
                </p>
            </div>
        </section>
    </main>
    
    <script src="js/main.js" type="module" defer></script>
</body>
</html>