<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Team Bio - Irene</title>
</head>
<body>
    <header>
        <h1>Hello there!</h1>
    </header>

    <main>
      <p>My name is Irene Vinu, a young adult aspiring to walk my own path of success like those before me.

        A little bit about myself- I like creating content that is entertaining, and artistic. In my free time, I take walks when the weather is warm, or play video games when it is more chiller while snuggling with my plushy dog for a pet. 
      </p>
      
      <h2>Irene's role in the project:</h2>
      <p>Project Manager 
        In charge of marketing and advertisment projects 
        Motion Design projects 
      </p>
    </main>
    
    <section class="memberNav">
  
        <a href="team1.html" class="prevLink"> previous member </a>
      
      
        <a href="team3.html" class="nextLink"> next member </a>
      
    </section>
</body>
</html>