.hidden { display: none};

*{
    margin:0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

a, li {
  text-decoration: none;
  color: black;
}

body {
  font-family: helvetica, arial, calibri;
  margin: 0 auto;
  background-image: linear-gradient(#ca3838, #7c2424);
}

/* General Setting is done */

header {
  border-bottom-color: white;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  margin: 2em auto;
}

main {
  width: 800px;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  padding-right: 1em;
}

.introduction {
  padding-left: 1em;
}

.introduction h2 {
  font-size: 20px;
  margin-top: 4.5em;
}

.introduction h3 {
  font-size: 10px;
}

.Description {
  text-align: center;
  margin: 2em auto;
}

p {
  line-height: 22px;
}