.hidden { display: none};

*{
    margin:0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

a, li {
  text-decoration: none;
}

body {
  font-family: helvetica, arial, calibri;
  margin: 0 auto;
  background-image: linear-gradient(#dd5151, #aa3838);
}

/* General Setting is done */

header {
  background-color: #1a0101;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  margin: 50px auto;
  font-size: 35px;
}

main {
  width: 800px;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
  background-image: linear-gradient(to bottom right, #e65451, #ce413f);
  border: 2px solid;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 10px 10px #420707;
}

img {
  width: 250px;
  
  border: solid 2px #420707;
  border-radius: 5px;
  box-shadow: 7px 7px #420707;
}

.introduction {
  padding-left: 5em;
  text-align: center;
}

.introduction h2 {
  font-size: 25px;
  margin-top: 3.3em;
}

.hr-line {
  background-color: black;
  border: .5px solid black;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 20px;
}

.introduction h3 {
  font-size: 13px;
}

.Description {
  text-align: center;
  margin: 2em auto;
}

p {
  line-height: 22px;
}

.Nav {
  margin: 0 auto 20px auto;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Nav a {
  font-size: 15px;
  color: black;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 2px 0;
}

.right {
  margin-left: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-right: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.prev, .next {
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid;
  box-shadow: 5px 5px #4F091D;
  cursor: pointer;
}

.prev, .next :hover {
  transition: all .2s ease-out;
  cursor: pointer;
}







/* *{
    margin:0;
    padding: 0;
    border: none;
    color: blue;
    background-color: rgb(202, 56, 56);
    color: yellow;
    font-family: 'Source Serif 4', sans-serif;
    box-sizing: border-box;
}

a {
    color: pink;
    font-size: 4em;
    
}

.hidden { display: none};

.body {
    font-size: 16px;
    background-color: rgb(202, 56, 56);
    color: yellow;
    font-family: 'Source Serif 4', sans-serif;
}

.app {
    margin-top: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

/*why thi smain page is not working? */
