*{
    margin:0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

a, li {
  text-decoration: none;
  color: black;
}

.hidden { display: none};

body {
  font-family: helvetica, arial, calibri;
  margin: 10em auto;
}

.Description {
  text-align: center;
  margin: 2em auto;
}

.hero {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}